/* CSS de la página de demo.html */

body {
    background-color: #000; /* color de fondo de toda la página */ 
    color:#fff; /* color de letra de toda la página */
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900; /* peso del contorno de la letra */
}
p {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

/* imagen */ 
picture {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
picture img {
    width: 250px;
}

#Moriste{
    color: rgb(255, 0, 0);
}

/* lista y enlace */
#opciones {
    text-align: center;
    list-style: none; /* elimina los puntitos (viñeta) */
    padding: 0;
}

#sinsajo2 {
    width: 600px;
}
#opciones li {
    display: inline-block; /* la lista la coloca horizontalmente */
    padding: 5px;
}

.boton {
    text-decoration: none; /* Eliminamos el subrayado del enlace */
    color: #fcfcfc;
    border:3px solid rgb(167, 167, 167);
    padding: 15px; /* margen interior */
    border-radius: 100px;
    display: inline-block;
    font-size: 20px;
}
.boton:hover { /* pseudoclase hover se activa cuando el mouse está por encima del elemento */
    background-color: rgb(255, 255, 255);
    color: #000;
}